.book-list {
  padding: 2rem;
  background-color: #fdfdfd;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.book-list h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}

.book-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
}

.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.book-card h3 {
  font-size: 1.1rem;
  color: #222;
  margin: 0.5rem 0;
}

.book-card p {
  font-size: 0.95rem;
  color: #666;
  margin: 0.2rem 0;
}


.card-btn {
  padding: 10px 20px;
  color: white;
  background-color: brown;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  cursor: pointer;
}

.card-btn:hover {
  background-color: white;
  color: brown;
  font-size: 17px;
  border: solid brown 1px;
}

.card-btns{
 display: flex;
 gap: 10px;
}