.cart-container {
  background-color: #fff6f3;
  padding: 3rem 2rem;
  max-width: 900px;
  margin: 2rem auto;
  border-radius: 12px;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.cart-title {
  font-size: 2rem;
  color: #801f1f;
  margin-bottom: 1rem;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cart-item-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #801f1f;
  margin-bottom: 0.3rem;
}

.cart-item-price {
  font-size: 1rem;
  color: #444;
}

.remove-btn {
  background-color: #a42828;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options-q{
 padding-left: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.remove-btn:hover {
  background-color: #871d1d;
}

.cart-summary {
  text-align: right;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #801f1f;
  font-weight: bold;
}

.checkout-btn {
  background-color: #a42828;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 999px;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #871d1d;
}
